<div class="fondo">
    <img [src]="GurkasP" alt="" class="img-fluid">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img [src]="escudo_normal" alt="" class="img-fluid">
            </div>
            <div class="col-6 titulos">
                <h1>GALERIA DE FOTOS</h1>
                <h2>"LA BARRA DE TODOS LOS BARRIOS"</h2>
            </div>
            <div class="col text-center">
                <img [src]="escudo_normal" alt="" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <img [src]="Gurkas1" alt="" class="img-fluid">
            </div>
            <div class="col-sm-6 col-md-4">
                <img [src]="Gurkas2" alt="" class="img-fluid">
            </div>
            <div class="col-sm-6 col-md-4">
                <img [src]="Gurkas3" alt="" class="img-fluid">
            </div>
            <div class="col-sm-6 col-md-4">
                <img [src]="Gurkas4" alt="" class="img-fluid">
            </div>
            <div class="col-sm-6 col-md-4">
                <img [src]="Gurkas5" alt="" class="img-fluid">
            </div>
            <div class="col-sm-6 col-md-4">
                <img [src]="Gurkas6" alt="" class="img-fluid">
            </div>
            <div class="col-sm-6 col-md-4">
                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/MK3V-_JFvTc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="col-sm-6 col-md-4">
                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/bt9v29D6ekY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="col-sm-6 col-md-4">
                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/qxuH8HA2gbg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="col-sm-6 col-md-4">
                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/0Vw4-klE5f4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>