
<div class="fondo">
    <h1 class="TITULO">EQUIPO MASCULINO WILSTERMANN</h1>
    <img [src]="equipo1" alt="" width="100%" height="auto">
    <div class="contenedor">
        <div class="imagenes">
            <img [src]="equipo2" alt="" width="60%" height="auto">
            <img [src]="equipo3" alt="" width="60%" height="auto">
            <img [src]="entrenamiento" alt="" width="60%" height="auto">
        </div>
        <div class="jugadores">
            <table border="2">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Nacionalidad</th>
                    <th>#</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dato of datosTabla">
                    <td>{{ dato.Nombre }}</td>
                    <td>{{ dato.Nacionalidad }}</td>
                    <td>{{ dato['#'] }}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
