<div class="contenido_principal">
    <img [src]="noticia1" alt="" width="70%" height="auto">
    <h2>Wilstermann continúa lidiando con malas noticias, tiene una baja y dos dudas para el duelo con la u de vinto.</h2>
    <p>Wilstermann continúa lidiando con malas noticias después del decepcionante 0-0 contra Nacional Potosí del pasado martes, puesto que Robson Dos Santos es baja segura para el siguiente partido con FC Universitario de Vinto, mientras que Gabriel Esparza y Franco Martínez están “en duda”.</p>
</div>
<div class="noticias">
  <figure>
    <img [src]="comunicado" alt="" width="500px" height="500px">
    <figcaption>El club se dirige a los seguidores que adquirieron el abono 2023.</figcaption>
  </figure>
  <figure >
    <img [src]="noticia2" alt="" width="500px" height="500px">
    <figcaption>Wilstermann vence a la U de vinto y suma sus 3 primeros puntos</figcaption>
  </figure>
</div>
